{% include 'sensor/base.html' %}
{% include 'sensor/set_footer.html' %}
{% include 'sensor/set_script.html' %}
{% load static %}
{% block content %}

<!-- Page content -->
<section class="full-box page-content">
	<nav class="full-box navbar-info">
		<a href="/" class="float-left show-nav-lateral">
			<i class="fas fas fas fa-list"></i>
		</a>
	</nav>

<!-- Page header -->
<div class="full-box page-header">
	<h3 id="titulo" class="text-left">
		<b><i class="fas fas fa-camera-retro fa-fw"></i> &nbsp; DETECCIÓN DE ENFERMEDADES</b>
	</h3>
</div>

<div class="recono">
	<h1 class="h1">IMAGEN</h1>
	<div class="enfermedad" id="div1">
		<img src="{% static 'img/prueba.jpg' %}" alt="">
	</div>
	<h1 class="h2">PREDICCIÓN Y SÍNTOMAS</h1>
	<div class="diagnostico" id="div2">
		<p>{{rta}}</p>
	</div>
</div>


			
</section>

	{% block footer %} 
	{% endblock footer %}

	{% block script %} {% endblock %}

	
{% endblock %}